extends layout
block content
	div.container-fluid
		div.row(ng-controller = "UploadCtrl")
			div.uploadForm(action="/upload" enctype="multipart/form-data" method="post")
				div.fileUpload.btn.btn-primary
					span Upload New
					input.upload#fileBox(type="file" name="fileToUpload" multiple = "multiple" ng-model = "files"
						onchange  = "angular.element(this).scope().fileLoaded()" 
						)
				input(type = "submit" value = "Upload Now" ng-click = "uploadFiles()")
				div.tempHolder


		div.displayContainer(ng-controller = "ListCtrl")
			div.uploadedGallery
				img.imageThumb(ng-repeat = "item in photos() track by $index" ng-src="/{{item}}")
			
	script.
	
		
	


			
		
