doctype html
html(ng-app = "photoApp")
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    script(src= "/vendor/jquery.min.js")
    script(src= "/vendor/underscore.min.js")
    script(src= "/vendor/angular.min.js")
    script(src= "/javascripts/app.js")
    link(rel='stylesheet', href = 'stylesheets/css/bootstrap.min.css')
    link(rel = 'stylesheet' href = "home.css")
  body
    block content